.op {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .op-heading {
        font-size: var(--tx2large);
        font-weight: 700; 
        text-align: center;
    }

    .op-card {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 15px;
        position: relative;
        margin-top: 50px;
        color: var(--light-slate);

        background-color: var(--light-navy);

        // @media (max-width: 1080px) {
        //   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        // }
    }

    .op-card-inner {
        padding: 54px;
        gap: 18px;
        display: flex;
        flex-direction: column;
    }

    .op-card-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .op-card-heading {
        font-size: var(--tbase);
        font-family: var(--fira-code);
        font-weight: 300;
    }

    .op-card-description {
        font-size: var(--tbase);
        font-family: var(--fira-code);
        font-weight: 300;
    }

    .op-card-footer {
        font-size: var(--tbase);
        font-family: var(--fira-code);
    }
}