.review {
  width: 22rem;
  height: 26rem;
  padding: 1rem;
  border-radius: 0.75rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  background-color: var(--light-navy);
  position: relative;
}

.rev-inner {
  border-radius: 8px;
  justify-content: center;
  gap: 10px;
  display: flex;
  background-color: #233554;
  position: absolute;
  bottom: 0;
  padding-right: 2px;
  margin-right: 9px;
  margin-bottom: 18px;
  margin-left: 9px;
}

.rev-inner-1 {
  position: relative;
  display: flex;
  flex-direction: column;
}

.rev-img-div {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
  justify-content: center;
  align-items: center;
  gap: 6px;
  display: inline-flex;
  margin-bottom: 65px;
  position: relative;
}

.rev-img {
  width: 64px;
  height: 64px;
  border-radius: 9999px;
  border-width: 2px;
  color: transparent;
  position: absolute;
}

.rev-star-div {
  justify-content: center;
  align-items: center;
  display: inline-flex;
  color: var(--theme-color);
  margin-bottom: 33px;
}

.rev-star.icon {
  width: 14px;
  height: 14px;
  position: relative;
}

.rev-desc {
  text-align: center;
  font-family: var(--fira-code);
  font-weight: 500;
  color: var(--lightest-slate);
  margin-bottom: 30px;
  // font-size:12px;
  // line-height: 14px;
  // font-weight: 400;
}

.rev-footer-div {
  flex-direction: column;
  justify-content: center;
  display: flex;
  color: var(--slate);
  margin-bottom: 26px;
  font-family: var(--fira-code);
}

.rev-footer-name {
  text-align: center;
  // font-size:12px;
  // line-height: 14px;
  // font-weight: 800;
}

.rev-footer-from {
  text-align: center;
  padding-top: 10px;
  // font-size:12px;
  // line-height: 14px;
  // font-weight: 800;
}


.main-rev {
  margin: 15rem 0;

  .main-title {
    font-family: var(--raleway);
    color: var(--lightest-slate);
    position: relative;

    h2 {
      margin-bottom: 2rem;
      font-size: var(--tx2large);
      font-weight: 700;

      &::before {
        counter-increment: title;
        content: "0" counter(title) ".";
        margin-right: 0.5rem;
        color: var(--theme-color);
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 20px;
        width: 257px;
        height: 2px;
        margin-left: 303px;
        background-color: var(--lightest-navy);
      }
    }
  }
}

.rev-card {
  position: relative;
}

.carousal {
  padding-left: 300px;
  
  @media (max-width: 1339px) {
    padding-left: 194px;
  } 

  @media  (max-width: 1155px) {
    padding-left: 136px;
  }

  @media  (max-width: 811px) {
    padding-left: 101px;
  } 

  @media (max-width: 768px) {
    padding-left: 165px;
  }

  @media  (max-width: 698px) {
    padding-left: 103px;
  }

  @media  (max-width: 626px) {
    padding-left: 74px;
  } 


  @media (max-width: 600px) {
    padding-left: 50px;
  }

  @media  (max-width: 539px) {
    padding-left: 0px;
  }



}